:root {
    --blanco: #ffffff;
    --negro: #000000;
    --verdeOscuro: #3a833a;
    --gris: #888888;
}

:root {
    font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
    font-size: 16px;
    color: var(--blanco);
    background: var(--verdeOscuro);
}

body {
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0;
}

p {
    margin: 0;
}