.inicio {
    padding: 2rem;
    max-width: 75rem;
    margin: 0 auto;
}

.inicio__titulo {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: var(--blanco);
    font-weight: bold;
    text-align: center;
    -webkit-text-stroke: 4px #000;
    text-shadow: -8px 4px 10px #000; /* Cambia el último '0px' por '5px' si la prefieres difuminada */
    paint-order: markers stroke fill; 
}
